{% extends 'base.html' %}

{% block title %}
	Delete
{% endblock %}

{% block top_link %}
    {% for continent in continents %}
    	<li>
            <a class="dropdown-item" href="{% url 'continent_show' continent.id %}">{{ continent.continent_name }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <h1>Delete Continent</h1>
    <p>Are you sure you want to delete the continent "{{ continent.country_name }}"?</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-danger">
    </form>
{% endblock %}